<!-- <app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1>
          India’s largest Free Online Learning Platform <a href="#">Join Now</a>
        </h1>
    <div class="text-bg">

      <div class="row">
        <div class="col">
          <a href="#"
            ><i class="fas fa-file-alt"></i> Prepare for competitive Exams</a
          >
        </div>
        <div class="col">
          <a href="#"
            ><i class="fas fa-graduation-cap"></i> Find a Scholarship</a
          >
        </div>
      </div>
      <br/><br/> <br/><br/>
      <div class="row">
        <div class="col">
          <i class="fas fa-clock"></i> <br /><br />
          24 X 7 Access
        </div>
        <div class="col">
          <i class="fas fa-people-carry"></i><br /><br />Live & On-demand
        </div>
        <div class="col"><i class="fas fa-ribbon"></i><br /><br />Get Certified</div>
        <div class="col">
          <i class="fas fa-users"></i><br /><br />Discussion Forum
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>

  </div>
</div>
<section>
<div class="container my-5">
  <div class="row">
    <div class="col-md-4 pb-3 " *ngFor="let category of images">
        <div class="card course-image">
            <img [src]="category.background" class="card-img-top" alt="...">
          </div>
          <div class="text">{{category.name}}</div>

    </div>
  </div>
</div>
</section>

<section>
    <div class="container my-5 mx-5">
      <div class="row popular-courses">
        <div class="col-md-6 pb-3 px-0" *ngFor="let category of popularcourses">
            <div class="card" style="width: 23rem;">
                <img src="https://images.pexels.com/photos/100736/pexels-photo-100736.jpeg?cs=srgb&dl=adobe-photoshop-hd-wallpaper-photoshop-interface-100736.jpg&fm=jpg" class="card-img-top" alt="...">
              </div>
        </div>
      </div>
    </div>
    </section>
 -->

<app-form></app-form>
